{% for book in books %}
  <tr>
    <td>{{ book.id }}</td>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.book_type }}</td>
    <td>{{ book.publication_date }}</td>
    <td>{{ book.pages }}</td>
    <td>{{ book.price }}</td>
    <td>  
      <button class="btn btn-warning show-form-update" data-url="{% url 'book_update' book.id %}">
      <span class="glyphicon glyphicon-pencil"></span>
      Edit 
      </button>
    </td>
    <td>  
      <button class="btn btn-danger show-form-delete" data-url="{% url 'book_delete' book.id %}">
      <span class="glyphicon glyphicon-trash"></span>
      Delete 
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="7" class="text-center bg-warning">No book</td>
  </tr>
{% endfor %}